.container-fluid {
    text-align: center;
}

.header-styling {
    background-image: linear-gradient(#191970
    , #4682B4);
    text-align: center;
}
body {
  text-align: left;
  color: black;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 10px;
  line-height: 1;
}

.container {
  /* border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black; */
  margin-top: 80px;
}

#searchBtn , #submitBtn {
    background-color: #4682B4;
}

.form-style {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}